body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-color: #282c35;
}

#toolbar {
  width: 100px;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

a:visit {
  color: red;
}

/* override highlight attribute */
code[class*='language-'] {
  font-family: 'Fira Mono', 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo,
    Courier, monospace;
  line-height: 1.5;
  text-align: left;
  font-size: 18px;
  direction: ltr;
  background-color: #282c35;
  border-radius: 5px;
}
